.family{ display:flex;
    justify-content:center;
    background-color: gold;
    border:70px solid green;
    padding:30px;
}
.small-height {
    height: 100px;
    border:70px solid green;
    padding:30px;
       
}

.small-width {
    width: 100px;
   border-radius: 50%;
}

.green-frame {
    border: 10px ridge #00FFCC;
    padding: 5px;
}

.black-frame {
    border: 5px solid black;
    padding: 10px;
}

.pink-frame {
    border: 8px double #E4A4EE;
    padding: 6px;
}

.circle {
    border-radius: 50%;
}


img {
    margin: 8px;
}

div {
    padding: 40px;
}